<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" rel="stylesheet">

<div _ngcontent-jrt-c107="" class="card-body">
  <div _ngcontent-jrt-c107="" class="d-flex flex-column align-items-center text-center">
    <img _ngcontent-jrt-c107="" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" width="150" class="rounded-circle">
    <div _ngcontent-jrt-c107="" class="mt-3">
      <h4 _ngcontent-jrt-c107="">Diego Staniescki</h4>
      <p _ngcontent-jrt-c107="" class="mb-1 text-uppercase font-size: x-large font-weight-bold">Estatisticas:</p>
    </div>
  </div>
</div>


<div class="main-content">
  <div class="header bg-gradient-primary pb-8 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-muted mb-0">Gols Marcados</h5>
                    <span class="h2 font-weight-bold mb-0">30</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape ">
                      <i class="fa-solid fa-futbol" style="font-size: 30px"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">No último Mês</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-muted mb-0">Faltas Marcadas</h5>
                    <span class="h2 font-weight-bold mb-0">12</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape ">
                      <i class="fa-solid fa-person-falling-burst" style="font-size: 30px"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                  <span class="text-nowrap">No último Mês</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-muted mb-0">Cartões Amarelos</h5>
                    <span class="h2 font-weight-bold mb-0">08</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape">
                      <i class="fas fa-credit-card" style="font-size: 23px; color: yellow; background-color: yellow"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                  <span class="text-nowrap">No último Mês</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-muted mb-0">Cartões Vermelhos</h5>
                    <span class="h2 font-weight-bold mb-0">04</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape">
                      <i class="fas fa-credit-card" style="font-size: 23px; color: red; background-color: red"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                  <span class="text-nowrap">No último Mês</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-muted mb-0">Faltas Sofridas</h5>
                    <span class="h2 font-weight-bold mb-0">11</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape">
                      <i class="fa-solid fa-person-falling" style="font-size: 30px"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                  <span class="text-nowrap">No último Mês</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-muted mb-0">Vitórias</h5>
                    <span class="h2 font-weight-bold mb-0">15</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape">
                      <i class="fa-solid fa-child-reaching" style="font-size: 30px"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                  <span class="text-nowrap">No último Mês</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-muted mb-0">Derrotas</h5>
                    <span class="h2 font-weight-bold mb-0">11</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape">
                      <i class="fa-solid fa-face-frown" style="font-size: 30px"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                  <span class="text-nowrap">No último Mês</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-muted mb-0">Empates</h5>
                    <span class="h2 font-weight-bold mb-0">10</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape">
                      <i class="fa-solid fa-face-meh" style="font-size: 30px"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                  <span class="text-nowrap">No último Mês</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-muted mb-0">Assistências</h5>
                    <span class="h2 font-weight-bold mb-0">30</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape ">
                      <i class="fa-solid fa-people-carry-box" style="font-size: 30px"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">No último Mês</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
</div>
<i class="bi bi-credit-card"></i>

