<h1 mat-dialog-title>Cadastro de partida</h1>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="cadastroForm">
    <div class="row">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Titulo da Partida:</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Data da partida</mat-label>
          <input matInput type="datetime-local" formControlName="start" readonly>
          <mat-datepicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Quadra</mat-label>
          <select matNativeControl readonly formControlName="id_quadra">
            <option value="{{data.id_quadra}}">{{data.quadras}}</option>
          </select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Descrição</mat-label>
          <input matInput #message maxlength="256" formControlName="description" placeholder="Inserir descrição da partida">
          <mat-hint align="start"><strong>Descrição da partida</strong> </mat-hint>
          <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button type="button" class="btn btn-dark" mat-dialog-close>Fechar</button>
  <button mat-button type="button" class="btn btn-success" [disabled]="!cadastroForm.valid" (click)="onSubmit()" >Salvar Alterações
  </button>
</mat-dialog-actions>
