<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-2">
          <div class="card-body text-center">
            <img src="/assets/img/gremio.svg" alt="avatar"
                 class="img-fluid" style="width: 150px;">
            <h5 class="my-3">Gremio Football P.A</h5>
            <div class="row">
              <div id="image" class="col">
                <div class="md-form">
                  <a href="">
                    <mdb-icon id="icone" fas icon="camera" class="prefix" ></mdb-icon>
                  </a>
                </div>
              </div>
            </div>
            <p class="text-muted mb-1">Selecionar Foto</p>
            <div class="d-flex justify-content-center mb-2">
              <!--<button type="button" class="btn btn-primary">Follow</button>
              <button type="button" class="btn btn-outline-primary ms-1">Message</button>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-8">
          <div class="card-body">
            <form [formGroup]="validationForm">
              <div class="form-row">
                <div class="col">
                  <div class="md-form">
                    <mdb-icon far icon="futbol" class="prefix"></mdb-icon>
                    <input mdbInput type="text" id="nome" mdbValidate formControlName="nome" class="form-control">
                    <label for="nome">Nome do clube</label>
                  </div>
                </div>
                <div class="col">
                  <div class="md-form">
                    <mdb-icon fas icon="check" class="prefix"></mdb-icon>
                    <input mdbInput type="text" id="nome_oficial" mdbValidate formControlName="nome_oficial" class="form-control">
                    <label for="nome_oficial">Nome oficial do clube</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="md-form">
                    <select class="browser-default custom-select" mdbValidate formControlName="categoria">
                      <option value="" readonly="true" hidden="true" selected>Categoria do clube</option>
                      <option value="ouro">Ouro</option>
                      <option value="prata">Prata</option>
                      <option value="bronze">Bronze</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="md-form">
                    <mdb-icon fas icon="male" class="prefix"></mdb-icon>
                    <input mdbInput type="text" id="presidente" class="form-control" mdbValidate formControlName="presidente">
                    <label for="presidente">Presidente do Clube</label>
                  </div>
                </div>
              </div>
                <div class="row">
                  <div class="col">
                    <div class="md-form">
                      <mat-form-field class="example-full-width">
                        <mat-label>Data de fundação</mat-label>
                        <input matInput [matDatepicker]="picker" mdbValidate formControlName="fundacao_time">
                        <!--<mat-hint>MM/DD/YYYY</mat-hint>
                        Serve para colocar um placeholder
                        -->
                        <mat-datepicker-toggle matSuffix [for]="picker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              <div class="d-flex justify-content-end">
                <button type="button" mdbBtn color="success" mdbWavesEffect>Cadastrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

