<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top p-3" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/assets/img/estatistica.png" data-holder-rendered="true">
          <div class="card-body">
            <p class="card-text">Apresentamos estatísticas por equipe. Explore e perceba como pode tornar os teus prognósticos mais certeiros!</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="'/estatisticas-jogador'" routerLinkActive="active" >Acessar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top p-4" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="/assets/img/edicao-usuario.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">Deseja atualizar seu perfil? Nesta seção voce poderá alterar as informações do seu perfil</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Acessar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top p-4" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="/assets/img/jogador.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">Quer criar um usuario novo? Entao borá la, aqui nesta seção voce consegue criar um novo usuario.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Acessar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top p-4" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="/assets/img/sem-clube.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">Novo clube? Aqui tu vai conseguir criar teu clube e montar aquele seleção e desafiar a galera, moleza!</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Acessar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top p-4" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="/assets/img/editar-time.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">Precisa mesmo editar algumas informações do clube? Entao vamos nessa! Aqui tu vai editar as informações</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Acessar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top p-4" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="/assets/img/Calendario.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">Ta na hora de marcar aquela peleia! Então vamos consultar o proximo horario disponivel!</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Acessar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top p-4" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="/assets/img/pix.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">Quer adiantar o pagamento? Acessa esta opção que ja vamos te adiantar o pix para pagamento!</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Acessar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
