<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-2">
          <div class="card-body text-center">
            <img src="assets/img/qrcode.PNG" alt="avatar"
                 class="img-fluid" style="width: 150px;">
            <h5 class="my-3"><strong>PIX</strong></h5>
            <div class="row">
              <div id="image" class="col">
                <div class="md-form">
                  <mat-form-field appearance="fill">
                    <mat-label>Selecione o pix</mat-label>
                    <mat-select name="quadras">
                      <mat-option *ngFor="let quadra of quadras; let i = index" [value]="quadra.nome_quadra">
                        {{quadra.nome_quadra}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <p class="text-muted mb-1">Selecionar quadra</p>
            <div class="d-flex justify-content-center mb-2">
              <!--<button type="button" class="btn btn-primary">Follow</button>
              <button type="button" class="btn btn-outline-primary ms-1">Message</button>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
