<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-2">
          <div class="card-body text-center">
            <img src="assets/img/qrcode.PNG" alt="avatar"
                 class="img-fluid" style="width: 150px;">
            <h5 class="my-3">Nome da quadra</h5>
            <div class="row">
              <div id="image" class="col">
                <div class="md-form">
                  <div class="md-form">
                    <select class="browser-default custom-select" for="posicao" id="posicao" mdbValidate formControlName="posicao">
                      <option value="" readonly="true" hidden="true" selected>Selecionar Posição</option>
                      <option value="goleiro">Goleiro</option>
                      <option value="ala-direita">Ala-direita</option>
                      <option value="ala-esquerda">Ala-esquerda</option>
                      <option value="fixo">Fixo</option>
                      <option value="pivo">Pivô</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <p class="text-muted mb-1">Selecionar quadra</p>
            <div class="d-flex justify-content-center mb-2">
              <!--<button type="button" class="btn btn-primary">Follow</button>
              <button type="button" class="btn btn-outline-primary ms-1">Message</button>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
