<h2 mat-dialog-title>Editar informações</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formulario">
  <h3 mat-dialog-title style="font-weight: bold">Informações do usuario:</h3>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label appearance="fill">Nome Completo</mat-label>
          <input matInput type="text" formControlName="nome_completo">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label appearance="fill">Apelido</mat-label>
          <input matInput type="text" formControlName="apelido">
        </mat-form-field>
      </div>
      <div class="col d-flex justify-content-center">
            <mat-form-field class="example-full-width">
              <mat-label appearance="fill">Data nascimento:</mat-label>
              <input matInput  mdbValidate formControlName="data_nascimento" [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker">
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label appearance="fill">Posição</mat-label>
          <input matInput type="text" formControlName="posicao">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label appearance="fill">Sexo</mat-label>
          <input matInput type="text" formControlName="sexo">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label appearance="fill">Pé-preferido</mat-label>
          <input matInput type="text" formControlName="pe_preferido">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label appearance="fill">Idade:</mat-label>
          <input matInput type="number" formControlName="idade">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label appearance="fill">E-mail</mat-label>
          <input matInput type="email" formControlName="email">
        </mat-form-field>
      </div>
    </div>
  <h3 mat-dialog-title style="font-weight: bold">Endereço:</h3>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label appearance="fill">Rua</mat-label>
          <input matInput type="text" formControlName="rua">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label appearance="fill">Bairro</mat-label>
          <input matInput type="text" formControlName="bairro">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label appearance="fill">Numero</mat-label>
          <input matInput type="number" formControlName="numero">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label appearance="fill">Cidade</mat-label>
          <input matInput type="email" formControlName="cidade">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label appearance="fill">Cep</mat-label>
          <input matInput type="number" formControlName="cep">
        </mat-form-field>
      </div>
    </div>
  <h3>Contato:</h3>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label appearance="fill">Celular</mat-label>
          <input matInput type="tel" formControlName="celular">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label appearance="fill">Telefone Residencial</mat-label>
          <input matInput type="tel" formControlName="telefone">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label appearance="fill">Facebook</mat-label>
          <input matInput type="url" formControlName="facebook">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label appearance="fill">Instagram</mat-label>
          <input matInput type="url" formControlName="instagram">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label appearance="fill">Twitter</mat-label>
          <input matInput type="url" formControlName="twitter">
        </mat-form-field>
      </div>
    </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button type="button" class="btn btn-dark" mat-dialog-close>Fechar</button>
  <button mat-button type="button" class="btn btn-success" [mat-dialog-close]="true" cdkFocusInitial (click)="submit()">Salvar Alterações</button>
</mat-dialog-actions>

