<div class="container">
  <div class="main-body">

    <div class="row gutters-sm">
      <div class="col-lg-4">
        <div class="card mb-2">
          <div class="card-body text-center">
            <img src="/assets/img/gremio.svg" alt="avatar"
                 class="img-fluid" style="width: 150px;">
            <h5 class="my-3">Gremio Football P.A</h5>
            <div class="row">
              <div id="image" class="col">
                <div class="md-form">
                  <a href="">
                    <mdb-icon id="icone" fas icon="camera" class="prefix" ></mdb-icon>
                  </a>
                </div>
              </div>
            </div>
            <p class="text-muted mb-1">Selecionar Foto</p>
            <div class="d-flex justify-content-center mb-2">
              <!--<button type="button" class="btn btn-primary">Follow</button>
              <button type="button" class="btn btn-outline-primary ms-1">Message</button>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Nome do clube</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                Gremio
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Nome Oficial do Clube</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                Gremio Football Porto Alegrense
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Categoria do clube</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                Ouro
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Presidente do Clube</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                Diego Staniescki
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Data de Fundação</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                11/10/1195
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12 d-flex justify-content-end">
                <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Editar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

