<h2 mat-dialog-title>Editar informações da equipe</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formulario">
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label appearance="fill">Nome da equipe</mat-label>
          <input matInput type="text" formControlName="nome">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label appearance="fill">Nome Oficial</mat-label>
          <input matInput type="text" formControlName="nome_oficial">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="example-full-width">
          <mat-label appearance="fill">Data de fundação:</mat-label>
          <input matInput  mdbValidate formControlName="fundacao_time" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label appearance="fill">Categoria da equipe:</mat-label>
          <input matInput type="text" formControlName="categoria">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
          <div class="md-form">
            <ng-multiselect-dropdown mdbValidate [placeholder]="'Selecionar Presidente'" [settings]="dropdownSettings" [data]="name" formControlName="presidente"></ng-multiselect-dropdown>
          </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button type="button" class="btn btn-dark" mat-dialog-close>Fechar</button>
  <button mat-button type="button" class="btn btn-success" [mat-dialog-close]="true" cdkFocusInitial (click)="submit()">Salvar Alterações</button>
</mat-dialog-actions>

