<div class="row">
  <div class="col-2">
    <div class="quadra pt-5 ml-5">
      <h4>Horarios:</h4>
      <mat-form-field appearance="fill">
        <mat-label>Selecione a quadra</mat-label>
        <mat-select (valueChange)="alterarQuadraSelecionada($event)"  name="quadras">
          <mat-option *ngFor="let quadra of quadras; let i = index" [value]="quadra.nome_quadra">
            {{quadra.nome_quadra}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="col">
    <section class="d-flex justify-content-center align-itens-center">
      <full-calendar class="calendar" [options]="calendarOptions"></full-calendar>
    </section>
  </div>
</div>

